* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
a {
  color: #5f0099;
}
a:hover {
  color: #5f0099;
}
h1,
h2,
h3 {
  font-weight: 700;
}
h4,
h5 {
  font-weight: 600;
}
h6 {
  font-weight: 500;
}
.white {
  color: #ffffff !important;
}
.black {
  color: #000000;
}
.navbar {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-height: 30px;
  line-height: 30px;
  background: #daccf7;
  z-index: 1030;
  padding: 0;
}
.navbar .active {
  color: #000000 !important;
}

.navbar .nav-item {
  margin: 0 5px;
  padding: 0;
}
.navbar .nav-item a {
  color: #5f0099;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}
.navbar .nav-item a:hover {
  color: #000000;
}
.navbar .nav-link {
  position: relative;
  padding: 0;
}
.navbar .navbar-toggler {
  cursor: pointer;
}
.navbar .navbar-toggler span {
  color: #000000;
}
.navbar-style2 .active:after,
.navbar-style2 .nav-link:after {
  display: none;
}
.nav-scroll {
  background: #fff;
  -webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav-scroll .navbar-nav > li > a {
  color: #333;
}
.nav-scroll .navbar-brand img {
  -webkit-transform: scale(1.03) !important;
  transform: scale(1.03) !important;
}
.nav-scroll .navbar-toggler {
  cursor: pointer;
}
.nav-scroll .navbar-toggler span {
  color: #333;
}
.nav-scroll .nav-link:hover:after {
  background-color: #2388ed;
}
.nav-scroll .active {
  position: relative;
}

/* .banner {
  margin-top: 120px;
} */

.img {
  width: 600px;
  height: 450px;
}
.sobre_mi {
  background-color: #8fc3f7;
  /*  border-radius: 30px; */
  padding: 5px;
  margin: 15px;
}

.row_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row_img img {
  max-width: 80%;
}

.row_serv p {
  text-align: justify;
}

.row_serv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.servicios {
  border-radius: 30px;
  padding: 20px;
  margin: 45px;
}

.row_serv img {
  border-radius: 150px;
  max-width: 40%;
}

.title_vid {
  background-color: #8fc3f7;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.row_vid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
}

.btn_video {
  text-align: center;
  margin: 10px;
}

.btn_video button {
  padding: 10px 40px;
  background-color: #daccf7;
  border-radius: 30px;
  border: #5f0099;
  color: white;
  font-size: 20px;
}

.row_form_cont {
  background-color: #8fc3f7;
  border-radius: 30px;
  padding: 80px;
}

.row_contacto {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
}

.form-contacto {
  text-align: center;
}

.about-me-img {
  border-radius: 20%;
}

.forms-colums {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_form {
  width: 360px;
  height: auto;
  /*   margin: 80px auto; */
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  /*   margin-top: 10px;

  margin-bottom: 20px; */
  margin-left: 18px;
  padding-left: 10px;
}

textarea {
  background-color: #fbfbfb;
  width: 300px;
  height: 80px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 220px;
  cursor: pointer;
}

button p {
  color: #fff;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}
